:root {
  /* color */
  --white: #ffffff;
  --primary: #FFD23F;
  --secondary: #EE4266;
  --gray: #7b7b7b;
  --light-gray: #E9E9E9;
  --black: #0A0A0C;

  /* text color */
  --text-black: #323232;
  --text-gray: #515151;
}

/* =====Container===== */
.container {
  max-width: 1360px !important;
  margin-inline: auto;
}


/*
 *  STYLE 2 Scrollbar
 */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #EE4266;
}

/* To use this scrollbar globally */
html {
  scrollbar-width: thin;
  scrollbar-color: #EE4266 #F5F5F5;
  /* For Firefox */
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #EE4266;
}