.progress-wrap {
    position: fixed;
    bottom: 90px;
    right: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    background: var(--secondary);
    border: 1.2px solid var(--secondary);
}

.progress-wrap,.progress-wrap:after {
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: all .4s linear
}

.progress-wrap:after {
    position: absolute;
    content: "";
    font-family: icomoon;
    text-align: center;
    line-height: 40px;
    font-size: 8px;
    color: white;
    z-index: 1
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0)
}

.progress-wrap svg path {
    fill: none
}

.progress-wrap svg.progress-circle path {
    box-sizing: border-box;
    stroke: white;
    stroke-width: 1.2;
    transition-property: all;
    transition-duration: .15s;
    transition-duration: .4s;
    transition-timing-function: linear
}